<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings >
    <add name="host" connectionString=""/>
    <add name="port" connectionString=""/>
    <add name="user" connectionString=""/>
    <add name="password" connectionString=""/>
    <add name="subscribe" connectionString=""/>
    <add name="publish" connectionString=""/>
    <add name="lastMsg" connectionString=""/>
  </connectionStrings >
</configuration>